<!-- Replace ::text:: with your code -->

<div *ngIf="courseInfo" class="title">{{courseInfo.title}}</div>
<div *ngIf="courseInfo" class="course-info">
  <div class="course-info__description">
    {{courseInfo.description}}
  </div>
  <div class="course-info__info">
    <div><b>ID: </b><span class="course-info__info-id">{{courseInfo.id}}</span></div>
    <div><b>Duration: </b><span class="course-info__info-duration">{{ courseInfo.duration | duration }}</span></div>
    <div><b>Created: </b><span class="course-info__info-date">{{ courseInfo.creationDate | customDate }}</span></div>
    <div><b>Authors: </b><span class="course-info__info-authors">{{getAuthors()}}</span></div>
  </div>
</div>
<div class="navigation-block">
  <app-button buttonText="Back" (onClick)="handleBackButton()"></app-button>
</div>
