<app-header></app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <app-info [title]="emptyInfoTitle" [text]="emptyInfoText" [onClick]="addNewCourse"></app-info>


  <hr>
  <h2> Course Card</h2>
  <!-- Course Card component -->
  <app-course-info [course]="mockCourse"></app-course-info>

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->

  <hr>
  <h2> App Courses</h2>
  <app-courses></app-courses>
</div>
