@import 'src/app/shared/styles/styles';

.course {
 min-width: 60vw;

  input {
    margin-top: 0;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    input {
      border:none;
      background: none;
      outline: none;
    }

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }

  &__author-item {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__select {
    padding: 0.5rem;
  }
}
